
body{
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 224, 175);
}


.container {
    width: 100vw;
    height: 100vh;
}

/* ------------------------------------ */
header{
    width: 100%;
    background-color: #c1bb73;
}
header h1 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

/* ------------------------------------ */

main {
    width: 100%;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
main nav {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}
#mainForm {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}
#mainForm .txt-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#mainForm .txt-group #txtTitle {
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
}
#mainForm .txt-group #txtDesc {
    border: none;
    border-radius: 0.5em;
    resize: none;
    padding: 0.5em;
    border-radius: 0.5em;
}
#mainForm .btn-group {
    width: 397px;
}
#mainForm .btn-group > *{
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 49%;
    margin: 0;
    padding: 0.2em;
    background-color: transparent;
}
.btn-group #btnAdd {
    background-color: green;
}
.btn-group #btnClear {
    background-color: tomato;
}
/* ---------------------------------- */

.container-cards {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:1em;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-cards .card-task{
    border-radius: 0.5em;
    background-color: #ffffff;
    padding: 1em;
    width: 150px;
    height: 150px;
    position: relative;
}
.tskTitle {
    font-weight: 550;
}

.tskBtnDel {
    background-color: tomato;
    float: right;
    color: white;
    bottom: 0.5em;
    right: 0.5em;
    border: none;
    padding: 0.5em;
    position: absolute;
    border-radius: 1.3em 0.5em 0.5em 0.5em;
}
.tskBtnDel svg {
    fill: white;
    
}
.tskBtnDel:hover{
    background-color: red;
}

/* ---------------------------------- */
